* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: inherit;
  background: linear-gradient(black 1%, rgb(0, 0, 94) 60%, rgb(112, 112, 255));
  overflow: hidden;
}

main {
  display: flex;
  justify-content: space-around;
}

.snowflake-1 {
  animation: snowflakeOne 1.25s infinite;
}

@keyframes snowflakeOne {
  0% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(105vh);
  }
}

.snowflake-2 {
  animation: snowflakeTwo 1.5s infinite;
}

@keyframes snowflakeTwo {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(105vh);
  }
}

.snowflake-3 {
  animation: snowflakeThree 1.75s infinite;
}

@keyframes snowflakeThree {
  0% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(205vh);
  }
}

.snowflake-4 {
  animation: snowflakeFour 1.75s infinite;
}

@keyframes snowflakeFour {
  0% {
    transform: translateY(-300vh);
  }
  100% {
    transform: translateY(105vh);
  }
}

.snowflake-5 {
  animation: snowflakeFive 2.5s infinite;
}

@keyframes snowflakeFive {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(150vh);
  }
}
